.heading {
  padding: 10px;
  text-align: center;
  border: 10px solid;
}

.inputCountry{
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin: 25px;
}

.formStyle{
  text-align: center;
}

.weatherInfo{
  text-align: center;
}