.heading {
  padding: 10px;
  text-align: center;
  border: 10px solid;
}

.inputCountry{
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin: 25px;
}

.formStyle{
  text-align: center;
}

.weatherInfo{
  text-align: center;
  font-size: 160%;
  padding: 33px;
}

.countryDetail{
  display: flex;
  padding: 10px;
}

.imageStyle{
  height: 80px;
    width: 120px;
    padding: 10px;
}

.weatherDetail{
  padding: 10px;
  text-align: center;
}